.wrapper-caring-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caring-card  {
  display: flex;
  background-size: cover;
  background-color: white;
  color: #4a4a4a;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin: 0 30px;
  position: relative;
}

.name {
  position: absolute;
  top: 15px;
  left: 20px;
  margin: 0px;
}

.status {
  position: absolute;
  top: 15px;
  right: 20px;
  margin: 0px;
}

.accepted {
  color: green;
}

.declined {
  color: red;
}

.pending {
  color: orange;
}

.accept-decline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
}
