<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#recieved">Recieved</a></li>
    <li><a data-toggle="tab" href="#sent">Sent</a></li>
  </ul>
  <div class="tab-content">
    <div id="recieved" class="tab-pane fade in active">
      <%= render 'carings/recieved_tab' %>
    </div>
    <div id="sent" class="tab-pane fade">
      <%= render 'carings/sent_tab' %>
    </div>
  </div>
</div>
