<div class="banner">
  <h1>Airpnt</h1>
  <div class="call-to-action">
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
