<div class="banner">
  <h1>Airpnt</h1>
  <div class="call-to-action">
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <h3>Find a plant to take care of</h3>
  <div class="wrapper">
    <% Plant.all.each do |plant| %>
      <div class="plant-card">
        <p><%= plant.name %></p>
        <%= image_tag("avatar", class: 'avatar') %>
      </div>
    <% end %>
  </div>
</div>

